<div class="container">
    <div class="row" id="header-row">
        <div class="col">
            <h1 class="text-center">Eat-Da-Burger!</h1>
            <img src="/assets/img/burger.jpeg" alt="Burger pic">
        </div>
    </div>

    <div class="row" id="lists-row">
        <div class="col">
            <h3>Burgers I Want to Eat:</h3>
            <ol class="list-group">
                {{#each burgers}} {{#unless devoured}}
                <li class="list-group-item">
                    <span>{{this.burger_name}} (id: {{this.id}})</span>
                    <button class="btn btn-dark devour-it" data-id="{{this.id}}">
                        <i class="fas fa-utensils"></i>Eat me!</button>
                </li>
                {{/unless}} {{/each}}
            </ol>
        </div>
        <div class="col">
            <h3>Burgers I've Eaten: </h3>
            <ol class="list-group">
                {{#each burgers}} {{#if devoured}}
                <li class="list-group-item">
                    <span>{{this.burger_name}} (id: {{this.id}})</span>
                </li>
                {{/if}} {{/each}}
            </ol>
        </div>
    </div>

    <div class="row" id="new-burger-row">
        <div class="col">
            <h3>New Burger to Try:</h3>
            <form class="create-form">

                <div class="form-group">
                    <label for="new-burger">Burger Name:</label>
                    <input type="text" id="new-burger" name="name">
                </div>

                <button class="btn btn-dark" id="add-burger-btn" type="submit">
                    <i class="fas fa-utensils"></i>Add Burger</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        $(".devour-it").on("click", function (event) {
            var id = $(this).data("id");

            var updateBurger = {
                devoured: true
            };

            // Send the PUT request.
            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: updateBurger
            }).then(
                function () {
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });

        $(".create-form").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            var newBurger = {
                name: $("#new-burger").val().trim(),
            };

            // Send the POST request.
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function () {
                    console.log("Added a new burger!");
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });
    });


</script>